.App {
  min-height: 100vmin;
}

.App-logo {
  margin-top: 5vmin;
  height: 12vmin;
  pointer-events: none;
  border-radius: 20px;
  box-shadow: 3px 3px 7px #000000c4;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #3286b7;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#form-results-container {
  width: 85%;
  margin: auto;
}

h2 {
  margin-bottom: 0.5em;
}

#results-title {
  margin-bottom: 5px;
}

hr {
  height: 3px;
  background-color: #3286b7;
  border: 1px solid #3286b7;
}

.specific-result-title {
  margin-bottom: 1rem;
}

.author {
  font-weight: 700;
  margin-top: 0px;
}

#search-bar-container {
  margin: auto;
  text-align: center;
}

#form-input {
  width: 40%;
  font-size: 22px;
  padding: 2px;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 3px;
}

/* Search Terms */

.recent-search-title {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  margin-right: 15px;
  margin-left: -100px;
}

.recent-search-li {
  display: inline-block;
  text-decoration: none;
  font-size: 26px;
  margin-right: 15px;
}

.recent-search-li:focus {
  outline: none;
  box-shadow: none;
}

.centering-div {
  display: inline-block;
  vertical-align: middle;
  margin-top: -10px;
  height: 20px;
}

.search-term-button {
  width: 100%;
  font-size: 22px;
  height: 40px;
  padding-left: 12px;
  border: 3px solid black;
  border-radius: 3px;
  box-shadow: 1px 1px 2px;
}

.search-term-button:focus {
  outline: none;
  box-shadow: none;
}

.react-icons {
  vertical-align: middle;
}

.search-button {
  width: 100px;
  height: 40px;
  border: 2px solid rgba(0, 0, 0, 0.673);
  border-radius: 3px;
  box-shadow: 2px 2px 3px;
  font-size: 22px;
  padding: 3px;
  color: black;
  background-color: #3286b7;
}

.search-button:hover {background-color: #96d0f3}

.search-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.search-term-button:hover, .get-comments:hover {background-color: #96d0f3}

.search-term-button:active,
.get-comments:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#recent-search-term-div {
  margin-top: 4rem;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 3px solid #687168;
}

/* Comments */
.comment-markdown p {
  line-height: 1.5;
}

#comment-container {
  width: 50%;
}
#comment-header {
  border-bottom: 3px solid black;
  width: fit-content;
}

.get-comments {
  height: 25px;
  border: 2px solid rgba(0, 0, 0, 0.673);
  border-radius: 1px;
  box-shadow: 2px 2px 1px;
  font-size: 16px;
  padding: 3px;
  color: black;
  background-color: rgb(70 68 68 / 70%);;
}

@media screen and (min-width: 1500px) {
  #form-results-container {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
}
