.App {
  min-height: 100vmin;
}

.App-logo {
  margin-top: 5vmin;
  height: 12vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #3286b7;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#form-results-container {
  width: 85%;
  margin: auto;
}

h2 {
  margin-bottom: 0.5em;
}

#results-title {
  margin-bottom: 5px;
}

hr {
  height: 3px;
  background-color: #3286b7;
  border: 1px solid #3286b7;
}

.specific-result-title {
  margin-bottom: 4px;
}

.author {
  font-weight: 700;
  margin-top: 0px;
}

#search-bar-container {
  margin: auto;
  text-align: center;
}

#form-input {
  width: 40%;
  font-size: 22px;
  padding: 2px;
  margin-top: 20px;
  border: 2px solid #3286b7;
  border-radius: 4px;
}

/* Search Terms */

.recent-search-li {
  display: inline-block;
  text-decoration: none;
  font-size: 26px;
  margin-right: 15px;
}

.search-term-button {
  width: 100%;
  font-size: 22px;
  height: 40px;
  border-radius: 5px;
  box-shadow: -1px -1px;
}

.react-icons {
  vertical-align: middle;
}

.search-button {
  width: 100px;
  height: 40px;
  border: 2px solid #3286b7;
  border-radius: 5px;
  box-shadow: -1px -1px;
  font-size: 26px;
  font-weight: 550;
  color: white;
  background-color: #ff8736;
}

a {
  text-decoration: none;
  color: #198a19;
}
